* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* font-size: 62.5%;  */
  /* 1rem = 10px, 10px/16px = 62,5% */
}

h1 {
  color: #000;
}

.container .container-donut {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.container .donut-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container .donut {
  font-size: 80px;
  font-weight: 600;
}

@media only screen and (max-width: 340px) {
  .container .donut {
    font-size: 26px;
  }
}

@media only screen and (max-width: 766px) {
  .container .donut {
    font-size: 35px;
  }
}
